@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: 0.5s all;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: #0f0f0f;
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .centerUtil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cardGrain {
  background: linear-gradient(
    rgba(#7f7a7a0f 0.06),
    rgba(#19181887),
    rgba(#7f7a7a0f 0.06)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.withEase {
  background: linear-gradient(to right top, #4c6fff, #ae66ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
