@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: 0.5s all;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: #0f0f0f;
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .centerUtil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.HomePortfolioCard {
  background: linear-gradient(
    360deg,
    rgba(25, 24, 24, 0.53) 0%,
    rgba(127, 122, 122, 0.06) 100%
  );
}
