@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: 0.5s all;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background: #0f0f0f;
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .centerUtil {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cardGrain {
  background: linear-gradient(
    rgba(25, 24, 24, 1),
    rgba(127, 122, 122, 0.39),
    rgba(25, 24, 24, 0.529),
    rgba(127, 122, 122, 0.059)
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.withEase {
  background: linear-gradient(to right top, #4c6fff, #ae66ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tryNow:is(:hover, :focus) {
  background: linear-gradient(to right top, #4c6fff, #ae66ff);
  color: white;
}

.listSteps:is(:hover, :focus),
.listSteps.selected {
  outline: none;
  background-color: white;
  color: black;

  span {
    background-color: #e8e7e7;
  }
}

.foundersNote {
  animation: noteAnim 0.2s linear;
}

.swiper {
  width: 100%;

  img {
    width: auto;
    height: auto;
  }
}

@keyframes noteAnim {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}
